body {
    margin: 0;
    text-align: center;
}


.intro {
    font-size: 150%;
    text-align: left;
    color: #40514E;
    width: 30%;
    margin:auto;
}

.top-container {
    padding-top: 50px;
    background-color: #EAF6F6;
    position: relative;
}



.middle-container {
    background-color: whitesmoke;
    padding-bottom: 5px;
    padding-top: 50px;
}

.skill-row {
    width: 50%;
    margin: 50px auto;

}

.contact-me {
    width: 50%;
    margin: 100px auto 50px;

}

.bottom-container {
    padding-top: 20px;
    background-color: #66BFBF;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
}

.top-cloud {
    position: absolute;
    left: 300px;

}

hr {
    border-style: dotted none none;
    border-width: 10px;
    width: 5%;
    color: goldenrod;


}

h1 {
    font-size: 500%;
    font-family: 'Sacramento', cursive;
    margin: 0 auto 0 auto;
    color: #66BFBF;
    line-height: 2rem;
}

h2 {
    font-size: 2.5rem;
    color: #11999E;
    font-weight: normal;
}

h3 {
    color: #11999E;
    text-align: left;
}

.image-skill {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    float: left;
}

.image-achievement {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    float: right;
}

.profile-pic {
    width: 25%;
    height: 25%;
}

.profile {
    width: 36%;
    margin:auto;
}

.btn {
    background-color: #66BFBF;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 35px;
}
